<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431326746915-cd9poa210drdt1sbe73mho7kfs74c6nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431326746915-cd9poa210drdt1sbe73mho7kfs74c6nc</string>
	<key>API_KEY</key>
	<string>AIzaSyBqyFcgxHyEoCRwxQ7S6wZ3wH5kw-mg_0w</string>
	<key>GCM_SENDER_ID</key>
	<string>431326746915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.instagramCloneCourse</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-course-vandad</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-course-vandad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431326746915:ios:7e5fe415f0a95f5ef51496</string>
</dict>
</plist>